
.camera{
    width: 300px;
    background-color: rgb(224, 17, 17);
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    
}
